# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_SF_52840 || BOARD_SF_52840_V2

config BOARD
	default "sparkfun_nrf52840_mini"



config NFCT_PINS_AS_GPIOS
    bool "NFCT pins as GPIOs"
    default n
    depends on HAS_HW_NRF_NFCT && SOC_FAMILY_NRF
    help
      P0.9 and P0.10 are usually reserved for NFC. This option switch
      them to normal GPIO mode. HW enabling happens once in the device
      lifetime, during the first system startup. Disabling this option will
      not switch back these pins to NFCT mode. Doing this requires UICR
      erase prior to flashing device using the image which has
      this option disabled.

if USB

config USB_NRFX
	default y

config USB_DEVICE_STACK
	default y

endif # USB

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

endif # BOARD_SF_52840 || BOARD_SF_52840_V2

if BOARD_SF_52840

config ZMK_BATTERY_VOLTAGE_DIVIDER
#  default y
 	default n

endif # BOARD_SF_52840

if BOARD_SF_52840_V2

config ZMK_BATTERY_NRF_VDDH
  default y
#	default n

endif # BOARD_SF_52840_V2
